.header {
  text-align: center;
  background-color: #5c6bc0;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  width: 90%;
  border-radius: 8px;
  /* position: relative;
  top: -52px;
  width: 100%;
  max-width: 500px;
  left: 315px; */
}
.heading {
  color: #fff;
}
